<h1 class="h2 mb-4">Minhas Candidaturas</h1>

<div class="list-group">
  <% @candidaturas.each do |candidatura| %>
    <% oferta = candidatura.oferta %>
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= link_to oferta.titulo, oferta_path(oferta) %></h5>
        <small>
            <% if oferta.status %>
              <span class="badge 
                <%= { 
                  proposta: 'bg-warning text-dark',
                  aprovada: 'bg-success',
                  reprovada: 'bg-danger',
                  cancelada: 'bg-secondary',
                  convertida: 'bg-info' 
                  }[oferta.status.to_sym] %>">
                <%= {
                  proposta: 'Proposta',
                  aprovada: 'Em análise',
                  reprovada: 'Cancelada',
                  cancelada: 'Encerrada',
                  convertida: 'Aprovado'
                }[oferta.status.to_sym] %>
              </span>
            <% else %>
              <span class="badge bg-dark">Indefinido</span>
            <% end %>
        </small>
      </div>

      <p class="mb-1 text-muted">Empresa: <%= oferta.user.nome %></p>
      
      <div class="card my-2">
        <div class="card-body">
          <p class="mb-1"><strong>Atividade Principal:</strong> <%= oferta.atividade_principal %></p>
          <p class="mb-1"><strong>Bolsa:</strong> <%= number_to_currency(oferta.valor_pago) %></p>
          <p class="mb-1"><strong>Carga Horária Semanal:</strong> <%= oferta.ch_semanal %> horas</p>
        </div>
      </div>
      
       <small class="text-muted">Candidatura enviada em: <%= l candidatura.created_at, format: :short %></small>
    </div>
  <% end %>

  <%# CORREÇÃO AQUI: Ajusta a mensagem para quando não há candidaturas %>
  <% if @candidaturas.empty? %>
    <p>Você não possui nenhuma candidatura.</p>
  <% end %>
</div>

<div class="mt-4 d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy && @pagy.pages > 1 %>
</div>