<% url = oferta.new_record? ? ofertas_path : oferta_path(oferta) %>
<%= form_with(model: oferta, url: url, class: "card p-4") do |form| %>
    <% if oferta.errors.any? %>
      <div class="alert alert-danger">
        <h5><%= pluralize(oferta.errors.count, "erro") %> impediu esta proposta de ser salva:</h5>
        <ul>
          <% oferta.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="mb-3">
      <%= form.label :titulo, class: "form-label" %>
      <%= form.text_field :titulo, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= form.label :descricao, class: "form-label" %>
      <%= form.text_area :descricao, class: "form-control", rows: 4 %>
    </div>
  
    <div class="mb-3">
      <%= form.label :atividade_principal, "Atividade principal do estágio", class: "form-label" %>
      <%= form.text_field :atividade_principal, class: "form-control" %>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :ch_semanal, "Carga horária semanal", class: "form-label" %>
        <%= form.number_field :ch_semanal, class: "form-control" %>
      </div>
      <div class="col-md-6 mb-3">
        <%= form.label :valor_pago, "Valor da bolsa (R$)", class: "form-label" %>
        <%= form.number_field :valor_pago, step: 0.01, class: "form-control" %>
      </div>
    </div>
  
    <div class="mb-3">
      <%= form.label :vale_transporte, "Valor do vale transporte (se houver)", class: "form-label" %>
      <%= form.number_field :vale_transporte, step: 0.01, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= form.label :pre_requisitos, "Pré-requisitos do candidato", class: "form-label" %>
      <%= form.text_area :pre_requisitos, class: "form-control", rows: 3 %>
    </div>
  
    <div class="mb-3">
      <%= form.label :habilidades_necessarias, "Habilidades e competências técnicas necessárias", class: "form-label" %>
      <%= form.text_area :habilidades_necessarias, class: "form-control", rows: 3 %>
    </div>
    
    <div class="mb-3">
      <%= form.label :habilidades_desejaveis, "Habilidades e competências técnicas desejáveis", class: "form-label" %>
      <%= form.text_area :habilidades_desejaveis, class: "form-control", rows: 3 %>
    </div>
  
    <div class="actions">
      <%= form.submit "Enviar Proposta para Aprovação", class: "btn btn-primary" %>
      <%= link_to "Cancelar", ofertas_path, class: "btn btn-secondary" %>
    </div>
  <% end %>